services:
  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: "${PROJECT_NAME:-postgres_datamover}_pgadmin"
    restart: unless-stopped
    environment:
      PGADMIN_DEFAULT_EMAIL: "${PGADMIN_EMAIL:-admin@example.com}"
      PGADMIN_DEFAULT_PASSWORD: "${PGADMIN_PASSWORD:-admin}"
    ports:
      - "${PGADMIN_PORT:-5050}:80"
    depends_on:
      - postgres

  postgres:
    image: postgres:18.1-bookworm
    container_name: "${PROJECT_NAME:-postgres_datamover}"
    restart: unless-stopped
    shm_size: 512mb

    environment:
      POSTGRES_PASSWORD: "${POSTGRES_PASSWORD:-admin123}"
      POSTGRES_USER: "${POSTGRES_USER:-admin}"
      POSTGRES_DB: "${POSTGRES_DB:-datamover}"

    volumes:
      - "pgdata_${PROJECT_NAME:-datamover}:/var/lib/postgresql/18/data"
      - "./initdb:/docker-entrypoint-initdb.d:ro"
      - "./config/postgresql.conf:/etc/postgresql/postgresql.conf:ro"

    command:
      - "postgres"
      - "-c"
      - "config_file=/etc/postgresql/postgresql.conf"

    ports:
      - "${PG_PORT:-5432}:5432"

    healthcheck:
      test: ["CMD-SHELL", "psql -U ${POSTGRES_USER:-admin} -d ${POSTGRES_DB:-datamover} -c 'SELECT 1' >/dev/null 2>&1"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  pgdata_datamover:
    driver: local
